/* ÁREA PERSONALIZACIÓN HEADER */

.header {
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
    box-shadow: 0 4px 16px 0 rgb(0 0 0 / 5%);

    .logo{
        font-weight: bolder;
        font-size: 25px;

          h2{
            font-weight: bolder;
        }
    }
}



