/* ÁREA PERSONALIZACIÓN FORMS, SEARCHBARS, CONTENEDORES, ETC */

input[type=text],
select,
textarea {
    width: 100%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    font-size: 16px;
}

input[type=submit] {
    background-color: #449dd1;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    transition-duration: 0.4s;

    &:hover{
        background-color: #3a84af;
    }
}




.container {
    /* All containers */
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    margin-top: 10%;
    box-shadow: 10px 10px 5px 1px rgba(0, 0, 0, 0.199);
}



.textLogin,
.textRegister {
    color: rgb(19, 18, 18);
    padding: 15px;
    margin-bottom: 5%;
    margin-top: 5%;
    text-align: center;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.329);
    font-family: $font;
    font-size: 30px;
    font-weight: 900;
}